body .back_nav {
    /*box-shadow: none;*/
}

body {
    background: #fff;
    padding-top: 1.4rem;
}

.user_head {
    width: 1.2rem;
    height: 1.2rem;
    object-fit: cover;
    margin-right: 0.4rem;
    border-radius: 50% 50%;
}

.user_page {
    padding-left: 0.4rem;
}

.click_login {

    font-size: .32rem;
    font-family: PingFangSC;
    font-weight: 600;
    color: rgba(153, 153, 153, 1);
    line-height: .45rem;

}

.user_desc {
    display: none;
}

.user_name {

    font-size: .32rem;
    font-family: PingFangSC;
    font-weight: 600;
    color: rgba(52, 48, 45, 1);
    line-height: .45rem;
}

.user_icon {
    width: 0.4rem;
    margin-left: 0.23rem;
}

.user_id {

    font-size: .24rem;
    font-family: PingFang-SC;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
    line-height: .33rem;
}

.is_vip {
    padding-top: 0.4rem;
    display: none;
    background: rgba(248, 248, 248, 1);
}

.no_vip {
    padding-top: 0.4rem;
    /*background: rgba(248, 248, 248, 1);3*/
}

.vip_bg {
    width: 6.7rem;
    height: 1.42rem;
    background: url(../images/vip_bg.png)no-repeat;
    background-size: 100% 100%;
    padding: 0 0.3rem;
}

.vip_icon {
    width: 0.6rem;
}

.vip_bg p:nth-child(1) {

    font-size: .32rem;
    font-family: PingFang-SC;
    font-weight: 500;
    color: rgba(255, 208, 127, 1);
    line-height: .32rem;
    margin-bottom: 0.1rem;
    letter-spacing: 2px;
}

.vip_bg p {
    min-width: 3rem;
}

.vip_bg p:nth-child(2) {


    font-size: .28rem;
    font-family: PingFang-SC;
    font-weight: 500;
    color: rgba(255, 208, 127, 0.5);
    line-height: .4rem;
}

.vip_bg button {
    width: 1.7rem;
    height: 0.6rem;
    font-size: .28rem;
    /*font-family:PingFang-SC;*/
    font-weight: 500;
    color: rgba(52, 48, 45, 1);
    line-height: .6rem;
    background: #ffd286;
    border-radius: 0.5rem;
    border: none;

}

.list {
    width: 100%;
    padding: 0.5rem 0.4rem 0.2rem 0.4rem;
    background: #fff;
}

.list li {
    /*margin-bottom: 0.2rem;*/
    height: 1rem;
}

.list_icon {
    width: 0.4rem;
    margin-right: 0.4rem;
}

.m-w-3 {
    min-width: 5.5rem;
}

.list_name {

    font-size: .28rem;
    font-family: PingFang-SC;
    font-weight: 500;
    color: rgba(101, 99, 95, 1);
    line-height: .4rem;
    margin-right: .4rem;
}

.list button {
    padding: .2rem .58rem;
    font-size: .24rem;
    font-family: PingFang-SC;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    background: #ffa200;
    border-radius: 0.5rem;
    border: none;
    /*margin-left: 2.4rem*/
}

.yu_e {
    font-size: .28rem;
    font-family: PingFangSC;
    font-weight: 600;
    color: rgba(255, 162, 0, 1);
    line-height: .4rem;
}

.logout_button {
    display: none;
    text-align: center;
}

.logout_button p {
    width: 3rem;
    height: 0.8rem;
    background: #f2f2f2;
    border-radius: 0.5rem;
    line-height: 0.8rem;
    /* display: block; */
    text-align: center;
    margin-top: 0.2rem;
}