* {
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
    background: #FF8100;
}

html {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

img {
    border: 0 none;
    vertical-align: top;
}

i,
em {
    font-style: normal;
}

ol,
ul {
    list-style: none;
}

input,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-family: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: #666;
}

body {
    margin: 0 auto;
    min-width: 320px;
    max-width: 414px;
    /*height: 100%;*/
    min-height: 100%;
    font-size: 14px;
    /*line-height: 1.5;*/
    color: #666;
    -webkit-text-size-adjust: 100% !important;
    text-size-adjust: 100% !important;
    /*border: 1px solid #f2f2f2;*/
}

input[type="text"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.p2-hidden {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.p3-hidden {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.p4-hidden {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.p1-hidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ps-r {
    position: relative;
}



.overflowH {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bookmark {
    width: 1rem;
    height: 0.3rem;
    text-align: center;
    font-size: 0.24rem;
    background: #fa556c;
    color: #fff;
    position: absolute;

}

.flag {
    width: 0.72rem;
    height: 0.62rem;
    background: url(../images/Gratis.png)no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.flexCenter {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.flexCenter-column {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
    -webkit-flex-direction: column;
}

.flex-wrap {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.flexCenter-jc-sa {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.flexCenter-jc-sb {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.flexCenter-ai-center {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.w-100List {
    width: 100%;
    height: 0.92rem;

    padding: 0 0.4rem;
    margin: 1px 0;
}

.w-100List p {
    font-size: 0.3rem;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);

}

.w-100List img {
    width: 0.3rem;
}

.bg-color-fff {
    background: #fff;
}

.w-100List span {
    font-size: 0.26rem;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
}

.display-ib {
    display: inline-block;
}

.p-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.graded {
    height: 0.5rem;
    position: absolute;
    right: 0;
    top: 0;
}

.bg-color-fe4619 {
    background: #fe4619;
}

.bg-color-fe6b01 {
    background: #fe6b01;
}

.bg-color-febb00 {
    background: #febb00;
}

.bg-color-c4c6d1 {
    background: #c4c6d1
}

.cursor {
    cursor: pointer;
}


/*标题公用样式*/

.title_page {
    width: 100%;
    padding: 0.4rem;
}

.title_page p {
    font-family: Thonburi-Bold;
    font-size: .36rem;
    font-weight: bold;
    color: #34302D;
}

.icon_page {
    width: 0.4rem;
    height: 0.4rem;
    border: 1px solid #DDDDDD;
    border-radius: 50% 50%;
    margin-right: 0.4rem;

}

.list {
    width: 100%;
    /*padding: 0 0.4rem;*/
    /*border-top: 1px solid #DDDDDD;*/
}

.list_page {
    width: 100%;
    padding: 0 0.4rem;
}

.lists {
    padding: 0.3rem 0;
    /*border-bottom: 1px solid #DDDDDD;*/
    font-family: Thonburi;
    font-size: .32rem;
    color: #34302D;
}

.icon_page img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.list .lists_on {
    font-family: Thonburi;
    font-size: .32rem;
    color: #FFA200;
}

.lists_on .icon_page {
    border: none;
}

.lists_on .icon_page img {
    display: block;
}

.footer {
    min-width: 320px;
    max-width: 414px;
    width: 100%;
    height: 1.3rem;
    /*position: fixed;
    bottom: 0;*/
    /*padding: 0.3rem 0.4rem;*/
    /*background: #fff;*/
    /*border-top: 1px solid #f2f2f2;*/
}

.line_page {
    width: 100%;
    /*height: 0.1rem;*/
    padding: 0 0.4rem;
    /*border-radius: .5rem;*/
    /*background: #EEEDEB;*/
    font-family: PingFang-SC-Bold;
    font-size: .36rem;
    color: #FFFFFF;
}

.line_page .line {
    /*width: 10%;*/
    text-align: right;
    /*height: 100%;*/
    /*background: #ffa200;*/
    /*border-radius: .5rem;*/

}

.footer_buttton_page {
    /*margin-top: 0.2rem;*/
    margin-bottom: 2rem;
}

.footer_buttton_page .can_click {
    /*color: #ffa200;*/
    background: url(../images/question/button_click.png);
    background-size: 100% 100%;

}

.footer .footer_buttton_page .previous_button {

    font-size: 0.28rem;
    color: #989D9D;
    float: left;
    display: none;
}

.next_button {
    width: 5.4rem;
    height: 1.14rem;
    background: url(../images/question/button.png);
    background-size: 100% 100%;
    /*font-size: 0.28rem;*/
    /*color: #ffd07f;*/
    /*float: right;*/
    display: none;
    margin: 0 auto;
    margin-top: -.5rem;
}

.send_button {
    width: 5.4rem;
    height: 1.14rem;
    background: url(../images/question/button.png);
    background-size: 100% 100%;
    /* font-size: 0.28rem; */
    /* color: #ffd07f; */
    /* float: right; */
    display: none;
    margin: 0 auto;
    margin-top: -.5rem;
    /*display: block;*/
    /*float: right;*/
    /*display: none;*/
}

.question_list {
    /*padding-bottom: 3rem;*/

}

.question_lists {
    display: none;
    width: 6.7rem;
    margin: 0 auto;
    background: #fff;
    border: 3px solid #34302D;
    border-radius: 0.2rem;
    padding-bottom: 1.3rem;
}

.list_page textarea {
    width: 100%;
    height: 1rem;
    padding: .3rem .4rem;
    border: 1px solid #FFA200;
    border-radius: .1rem;
    /*font-family: PingFang-SC-Medium;*/
    font-size: .32rem;
    line-height: .36rem;
    /*font-size: .36rem;*/
    color: #989D9D;
    /*color: #374241;*/
    outline: 0;
    resize: none;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;

}

.loading_page {
    width: 100%;
    height: 100%;
}

.loading_page {
    min-width: 320px;
    max-width: 414px;
    height: 100%;
    position: fixed;
    top: 0;
}

.loading {
    width: 2rem;
    height: 2rem;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0.1rem;
}

.loading img {
    width: .7rem;
    -webkit-animation: rotating 3s linear infinite;
    animation: rotating 3s linear infinite;
}



@-webkit-keyframes rotating {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

@keyframes rotating {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}


.TS_yes_page {
    width: 100%;
    min-width: 320px;
    max-width: 414px;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

.TS_yes {
    width: 6rem;
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;

    background: #fff;
    border-radius: 0.1rem;
    text-align: center;
    position: relative;
}

.TS_yes_bg {
    width: 100%;
    position: absolute;
    top: -1rem;
    left: 0;


}

/*.TS_yes img {
    width: 0.4rem;
    margin-bottom: 0.3rem;
}*/

.TS_yes .TS_title {
    font-size: .28rem;
    font-family: PingFang-SC-Medium, PingFang-SC;
    font-weight: 500;
    color: rgba(52, 48, 45, 1);
    line-height: .4rem;
    margin-bottom: 0.3rem;
}

.TS_yes .add_gold span {
    font-size: .72rem;
    font-family: ArialRoundedMTBold;
    color: rgba(255, 162, 0, 1);
    line-height: .83rem;
}

.TS_yes .add_gold {
    font-size: .28rem;
    font-family: PingFang-SC-Medium, PingFang-SC;
    font-weight: 500;
    color: rgba(255, 162, 0, 1);
    line-height: .4rem;
    margin-bottom: 0.3rem;
}

.TS_no_page {
    width: 100%;
    min-width: 320px;
    max-width: 414px;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
}

.TS_no {
    padding: 0.4rem;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0.1rem;
    text-align: center;
}

.TS_no img {
    width: 0.4rem;
    margin-bottom: 0.3rem;
}

.TS_no p {
    font-family: PingFang-SC-Medium;
    font-size: .28rem;
    color: #FFFFFF;
    text-align: center;
}

.TS_no_page .flexCenter,
.TS_yes_page .flexCenter {
    width: 100%;
    height: 100%;
}

.shudou_img {
    width: 1.2rem;
}

.TS_yes_button {
    width: 100%;
    padding: 0.2rem;
    text-align: center;
    background: #ffa200;
    color: #fff;
    border-radius: 0.3rem;
    border: none;
    margin-top: 0.5rem;
}